
:root {
    --laranja: #FC671D;
    --magenta: #D34AF4;/* cor do botão */
    --cinza: #faf6f7;
    --cinza-escuro:#888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --roxo: #4D2C87;  /* fundo roxo */
    --sombra-base:rgba(44, 0, 106, 0.4);
    --sombra-preta:rgba(0, 0, 0, 0.4);
    --cinzaPlaceHolder:#9E9E9E;
    --cinzaDatas: #f1f1f1;
  }


.mainListaDesafios-listaDeDesafios {
    padding: 40px;
    font-family: Arial, sans-serif;
    width: 50%;
    margin-left: 450px;
    padding-left: 200px;
}

.divPesquisa-listaDeDesafios {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.barraPesquisa-listaDeDesafios {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.barraPesquisa-listaDeDesafios input {
    border: none;
    outline: none;
    font-size: 14px;
}
.form-busca{
    display: flex;
    justify-content: flex-end;
 
}
.barraPesquisa-listaDeDesafios img {
    width: 30px;
    height: 30px;
}

.primeiraLinha-listaDeDesafios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.primeiraLinha-listaDeDesafios h1 span {
    border-bottom: 3px solid #FC671D;
    padding-bottom: 2px;
}

.botoesDesafio-listaDeDesafios {
    display: flex;
}

.botoesDesafio-listaDeDesafios a {
    text-decoration: none;
}

.botoesDesafio-listaDeDesafios button {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.addDesafio-listaDeDesafios {
    background-color: #DA3ADC;
    color: white;
}

.addDesafio-listaDeDesafios:hover {
    background-color: #b42fb6;
    transition: 0.5s ease-in-out;
}

.head-listaDeDesafios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 22px;
}
.headNome-listaDeDesafios{
    display: flex;
    align-items: center;
    gap: 10px;
}

.recompensa-listaDeDesafios{
    margin-right: 110px;
}

.listaDesafios-listaDeDesafios {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.desafio-listaDeDesafios {
    display: flex;
    align-items: center;
    background-color: white;
    border-left: 5px solid #CA8EFF;
    border-radius: 12px;
    padding: 5px 5px 4px 13px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    margin-bottom: 10px;
}

.desafioLeft-listaDeDesafios {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
}

.desafioLeft-listaDeDesafios img {
    width: 30px;
    height: 30px;
}

.desafioRight-listaDeDesafios {
    align-items: center;
    display: flex;
    margin-right: 20px;
    width: 200px;
    justify-content: space-between;
}

.dg-listaDeDesafios {
    color: rgba(252, 103, 29, 1);
    font-size: 16px;
    font-weight: bold;
}

.valor-listaDeDesafios {
    color: rgba(11, 192, 211, 1);
}

.botoesEditar-listaDeDesafios {
    display: flex;
    gap: 15px;
}

.botoesEditar-listaDeDesafios img {
    width: 24px;
    height: 24px;
}

.botoesEditar-listaDeDesafios img:hover {
    cursor: pointer;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    font-family: Arial, sans-serif;
}

.pagination a {
    background-color: #d34af4;
    color: white;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #fc671d;
}

.pagination span {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}


/* popUP ADICIONAR DESAFIO */
.popUpAdicionarDesafio-listaDeDesafios{
    border: none;
        border-radius: 8px;
        padding: 0px 100px 0px 100px;
        width: 90%;
        max-width: 900px;
        height: 565px;
        max-height: 565px;
        background-color: var(--roxo);
        box-shadow: 0 4px 20px var(--sombra-preta);
        color: var(--base);

}
/* popUP EDITAR DESAFIO */
.popUpEditarDesafio-listaDeDesafios {
    border: none;
        border-radius: 8px;
        padding: 0px 100px 0px 100px;
        width: 90%;
        max-width: 900px;
        height: 565px;
        max-height: 565px;
        background-color: var(--roxo);
        box-shadow: 0 4px 20px var(--sombra-preta);
        color: var(--base);
}



.formDesafio-cadastrarDesafio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-cadastrarDesafio{
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column  ;
}

.cima-cadastrarDesafio{
    display: flex;
    gap: 60px;
    align-items: center;
}

.baixo-cadastrarDesafio{ 
    margin-bottom: 10px;
    
}

.inputsNome-cadastrarDesafio{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-cadastrarDesafio{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
  }

  .header-cadastrarDesafio1 {
    margin-left: -50px;
    display: flex;
    height: 94px;
    width: 114px;
}

.botao-cadastrarDesafio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-cadastrarDesafio{
    margin-right: -50px;
    width: 10px;
    height: 10px;
}


.iconeX-cadastrarDesafio:hover{
    cursor: pointer;
}



.button-cadastrarDesafio{
    
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: var(--branco);
    background-color: var(--magenta);
    width: 240px;
    height: 45px;
    margin-right: 25px;
    margin-bottom: 20px;
    
}


.nomeDesafioDiv-cadastrarDesafio{
    display: flex;
    flex-direction: column;
}

.nomeDesafioDiv-cadastrarDesafio input{

    border-radius: 4px;
    border: none;
    height: 35px;   
    width: 300px;
    background-color: var(--branco);
    font-size: 18px;
    color: var(--base);
    margin-bottom: 20px;

}

.descricao-cadastrarDesafio{
    width: 558px;
    height: 50px;
    border-radius: 4px;
    border: none; 
    background-color: var(--branco);
    font-size: 20px;
    color: var(--base);
    margin-bottom: 20px;
    margin-top: 15px;
    resize: none;
    
}



label{
    color: var(--branco);
    font-size: 15px;
    margin-bottom: 15px;
}

.descricao-cadastrarDesafio:read-write{
    color: var(--base);
    padding-left: 20px;
    padding-top: 10px;
}

.nomeDesafioDiv-cadastrarDesafio input:read-write
{

    color: var(--base);
    padding-left: 20px;

}
.statusDesafioDiv-cadastrarDesafio {
    display: flex;
    gap: 60px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.linha{
    display: flex;
    flex-direction: column;
}

.statusDesafioDiv-cadastrarDesafio select{
    border-radius: 4px;
    border: none;
    width: 320px;
    height: 40px;   
    background-color: var(--branco);
    font-size: 18px;
    color: var(--base);  
    padding-left: 10px;
}


.dataDesafioDiv-cadastrarDesafio{
    display: flex;
    gap: 25px;
    
}


.dataDesafioInterno-cadastrarDesafio{
    display: flex;
    flex-direction: column;
}

.dataDesafioInterno-cadastrarDesafio input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataDesafioInterno-cadastrarDesafio input[type="date"]{
  width: 100%;
  max-width: 100%;
  padding-left: 10px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}


@media (min-width: 0px) and (max-width: 1000px) {
    .desafioLeft-listaDeDesafios{
        overflow: hidden;
    }

    .mainListaDesafios-listaDeDesafios {
        width: 100%;
        margin-left: 0;
        padding: 0px ;
        padding-top: 20px;
       
    }

    .botoesDesafio-listaDeDesafios button{
        margin: 10px 0px 0px 0px ;
        padding: 10px 84px;
        
       
    }

    .primeiraLinha-listaDeDesafios{
        margin-left: 40px;
    }

    .divPesquisa-listaDeDesafios {
        justify-content: center;
        
    }

    .barraPesquisa-listaDeDesafios{
        width: 310px;
    }

    .primeiraLinha-listaDeDesafios{
        flex-direction: column;
        align-items: flex-start;
    }
    .recompensa-listaDeDesafios{
        display: none;
    }

    .headNome-listaDeDesafios{
        margin-left: 40px ;
    }

    .listaDesafios-listaDeDesafios{
        margin-left: 40px ;
        margin-right: 40px ;
    }

    .form-busca{
        width: 100%;
        justify-content: center;
    }


}

@media (max-width: 768px) {

    /* Ajusta o contêiner principal do pop-up de edição */
    .popUpEditarDesafio-listaDeDesafios {
        width: 70%; /* Largura fluida para se adaptar à tela */
        height: auto; /* Altura se ajusta ao conteúdo */
        max-height: 80vh; /* Altura máxima de 80% da tela */
        padding: 25px; /* Reduz o espaçamento interno */
        overflow-y: auto; /* Adiciona rolagem se o conteúdo for maior que a tela */
    }

    /* As regras abaixo funcionarão se o formulário de edição usar as mesmas classes do formulário de cadastro */

    /* Empilha os elementos do formulário verticalmente */
    .popUpEditarDesafio-listaDeDesafios .cima-cadastrarDesafio {
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .popUpEditarDesafio-listaDeDesafios .baixo-cadastrarDesafio {
        width: 100%;
    }
    
    /* Faz os inputs e textareas ocuparem quase toda a largura */
    .popUpEditarDesafio-listaDeDesafios .nomeDesafioDiv-cadastrarDesafio input,
    .popUpEditarDesafio-listaDeDesafios .statusDesafioDiv-cadastrarDesafio select, 
    .popUpEditarDesafio-listaDeDesafios .descricao-cadastrarDesafio {
        width: 90%;
    }

    /* Ajusta o cabeçalho do pop-up */
    .popUpEditarDesafio-listaDeDesafios .header-cadastrarDesafio {
        margin: 0;
        margin-bottom: 20px;
    }

    /* Reposiciona o botão de fechar (X) */
    .popUpEditarDesafio-listaDeDesafios .botao-cadastrarDesafio {
        margin-right: 0;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    /* Empilha os campos de data */
    .popUpEditarDesafio-listaDeDesafios .dataDesafioDiv-cadastrarDesafio {
        flex-direction: column;
        gap: 20px;
    }

    /* Faz o botão principal ocupar toda a largura */
    .popUpEditarDesafio-listaDeDesafios .button-cadastrarDesafio {
        width: 100%;
        margin-right: 0;
    }
}


@media (min-width: 0px) and (max-width: 1000px) {
    .desafioLeft-listaDeDesafios{
        overflow: hidden;
    }

    .mainListaDesafios-listaDeDesafios {
        width: 100%;
        margin-left: 0;
        padding: 0px ;
        padding-top: 20px;
       
    }

    .botoesDesafio-listaDeDesafios button{
        margin: 10px 0px 0px 0px ;
        padding: 10px 84px;
        
       
    }

    .primeiraLinha-listaDeDesafios{
        margin-left: 40px;
    }

    .divPesquisa-listaDeDesafios {
        justify-content: center;
        
    }

    .barraPesquisa-listaDeDesafios{
        width: 310px;
    }

    .primeiraLinha-listaDeDesafios{
        flex-direction: column;
        align-items: flex-start;
    }
    .recompensa-listaDeDesafios{
        display: none;
    }

    .headNome-listaDeDesafios{
        margin-left: 40px ;
    }

    .listaDesafios-listaDeDesafios{
        margin-left: 40px ;
        margin-right: 40px ;
    }

    .form-busca{
        width: 100%;
        justify-content: center;
    }


}

@media (max-width: 768px) {

    /* Ajusta o contêiner principal do pop-up */
    .popUpAdicionarDesafio-listaDeDesafios {
        width: 70%; /* Mantém uma largura fluida */
        height: auto; /* Altura se ajusta ao conteúdo */
        max-height: 80vh; /* Altura máxima de 90% da tela */
        padding: 25px; /* Reduz drasticamente o padding interno */
        overflow-y: auto; /* Adiciona barra de rolagem se o conteúdo for maior que a tela */
    }

    /* Ajusta o layout interno do formulário para empilhar verticalmente */
    .cima-cadastrarDesafio {
        flex-direction: column; /* Empilha os elementos */
        gap: 20px; /* Reduz o espaçamento */
        width: 100%;
    }

    .baixo-cadastrarDesafio {
        width: 100%;
    }

    .statusDesafioDiv-cadastrarDesafio {
        /* flex-direction: column; */
        gap: 10px;
    }
    
    /* Faz os inputs ocuparem 100% da largura disponível */
    .nomeDesafioDiv-cadastrarDesafio input,
    .statusDesafioDiv-cadastrarDesafio select, .descricao-cadastrarDesafio {
        width: 90%;
    }


    /* Ajusta o header do pop-up */
    .header-cadastrarDesafio {
        margin: 0;
        margin-bottom: 20px;
    }

    .header-cadastrarDesafio1 {
        margin-left: 0;
        width: 50px; /* Reduz o tamanho da logo se necessário */
        height: 8vh;
    }

    .botao-cadastrarDesafio {
        margin-right: 0;
        position: absolute; /* Posiciona o botão de fechar */
        top: 15px;
        right: 15px;
    }

    /* Ajusta as datas para empilhar se necessário */
    .dataDesafioDiv-cadastrarDesafio {
        flex-direction: column;
        gap: 20px;
    }

    .button-cadastrarDesafio {
        width: 100%; /* Botão principal ocupa toda a largura */
        margin-right: 0;
    }
}