:root {
    --laranja: #FC671D;
    --magenta: #DA3ADC;
    --cinza: #faf6f7;
    --cinza-escuro: #888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --roxo: #4D2C87;
    --sombra-base: rgba(44, 0, 106, 0.4);
    --sombra-preta: rgba(0, 0, 0, 0.4);
    --cinzaPlaceHolder: #9E9E9E;
    --cinzaDatas: #D9D9D9;
}

.container-relatorio {
    padding: 40px;
    font-family: Arial, sans-serif;
    width: 50%;
    margin-left: 450px;
    padding-left: 200px;
    margin-top: 64px;
}

.cabecalho-relatorio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 70px;
}

.cabecalho_btnexportar-relatorio button {
    border: none;
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--magenta);
    color: var(--branco);
}

.cabecalho_titulo-relatorio h1 span {
    border-bottom: 3px solid #FC671D;
    padding-bottom: 2px;
}

.tabela_relatorio {
    width: 100%;
    table-layout: fixed;
}

.tabela_relatorio_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tabela_relatorio_body tr {
    width: 100%;
}

.tabela_relatorio_conteudo-relatorio {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

.tabela_relatorio_conteudo_checkbox-relatorio {
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-color: var(--magenta);
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked + label {
    background-color: var(--laranja);
    border-color: var(--magenta);
}

input[type="checkbox"]:checked + label::before {
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 16px;
    color: white;
}

label {
    display: block;
    width: 100%;
    height: 100%;
}

.tabela_relatorio_conteudo_dado-relatorio {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'K2D', sans-serif;
    background: #FDFDFD;
    align-items: center;
    background-color: white;
    border-left: 5px solid #CA8EFF;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;  /* A célula ocupa toda a largura */
}

.tabela_relatorio_conteudo_dado-relatorio img {
    width: 30px;
    height: 30px;
}

.tabela_relatorio_conteudo_dado-relatorio-titulo {
    font-size: 16px;
    font-weight: bold;
}




@media (max-width: 1385px) {
    .container-relatorio {
        margin-left: 350px;
        padding-left: 100px;
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    .container-relatorio {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        padding-left: 20px;
        width: 80%;
    } 
}

@media (max-width: 768px) {

    .container-relatorio {
        margin-left: auto;
        margin-right: auto;
    } 

    .cabecalho-relatorio{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cabecalho_btnexportar-relatorio{
        width: 100%;
    }
    
    .cabecalho_btnexportar-relatorio button{
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}